<link href="announcecreatedialog.component.css" rel="stylesheet">
<link href="../form.component.css" rel="stylesheet">
<link rel="stylesheet" href="../../libs/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
<div style="margin: 0px 20px; width: 100%">
  <mat-dialog-content>
    <mat-card id="profile-card" style="text-align: left;">
      <mat-grid-list cols="6" rowHeight="40px">

        <mat-grid-tile [colspan]="6" [rowspan]="2">
          <mat-card  class="mat-card-col2" style="width: 100%">
            <mat-card-content>
              <mat-form-field>
                <mat-label>Nazwa ogłoszenia</mat-label>
                <input matInput placeholder="Podaj nazwę grupy" [(ngModel)]="announcementNewTitle">
              </mat-form-field>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="6" [rowspan]="4">
          <mat-card mat-card  class="mat-card-col2" style="width: 94%">
            <mat-form-field>
              <mat-label>Krótki opis grupy</mat-label>
              <textarea matInput [(ngModel)]="announcementNewDescription"
                        [cdkTextareaAutosize]
                        cdkAutosizeMinRows="4"
                        cdkAutosizeMaxRows="4">
              </textarea>
            </mat-form-field>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="6" [rowspan]="2">
          <mat-card mat-card  class="mat-card-col2" style="width: 94%">
            <mat-form-field style="margin: auto; padding-top: 20px">
              <mat-label> Wybierz grupę </mat-label>
              <mat-select [formControl]="announcementNewGroupIdFormControl">
                <mat-option *ngFor="let group of appGroups" [value]="group.appGroupId">
                  {{ group.appGroupName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="6" [rowspan]="2">
          <mat-card  class="mat-card-col2">
            <mat-card-content>
              <button type="submit" class="btn btn-lg btn-warning btn-block" style="margin: auto;"
                      (click)="createNewAnnoucement()" [disabled]="announcementNewTitle==='' || announcementNewDescription ==='' || announcementNewGroupIdFormControl.value === null">
                <p><b>Utwórz ogłoszenie</b></p>
              </button>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>
    </mat-card>
  </mat-dialog-content>
</div>

