#register-button:link,:visited,:hover,:active {
  text-decoration: none;
}
.btn-logout{
  margin: 10px;
  width: 150px;
  height: 40px;
  font-size: small;
  text-align: center;
  align-self: flex-end;
}
.mouse-pointer:hover {
  cursor: pointer;
}
.profile-card {
  width: 100%;
}
.menu-card {
  display: flex;
}
ul.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li.menu {
  float: right;
  height: inherit;
}
li.menu > p {
  transform: translateY(60%);
}
body {
  background-color: #eee;
}
:host {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.menu-item {
  transition: transform 1s,
  background-color 1s;
  color:1s;
  cursor: pointer;
}
.menu-item:hover {
  color: rgb(61, 61, 61);
  transform: scale(1.03);
}

.btn-small-icon {
  width: 50px;
}

.group-card:hover {
  background-color: beige;
}

.bg {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  -webkit-animation: AnimateBG 20s ease infinite;
  animation: AnimateBG 20s ease infinite;
}

.bg-yellow {
  background-image: linear-gradient(-45deg, rgba(235, 237, 221, 0.5) 0%, rgba(220, 238, 196, 0.5) 25%, rgb(238, 194, 194, 0.5) 51%, #f0f2aa81 100%);
}

img {
  object-fit: cover;
  width: 60px;
  height: 60px;
  box-shadow: 0 0 10px 0 rgba(255,255,255,.35);;
  border-radius: 50%;
  border: solid 1px;
}

.min-img {
  width: 15px;
  height: 15px;
  margin-right: 3px;
}
.mat-mdc-card-content:first-child {
  padding-top: 0px;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
