<link href="announcement.component.css" rel="stylesheet">
<link href="../form.component.css" rel="stylesheet">
<link rel="stylesheet" href="../../libs/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
<div class="container">
  <div class="container">

    <mat-card id="menu-card" style="margin-bottom: 10px;">
      <mat-grid-list cols="3" rowHeight="60px">

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card style="width: 100%; height: 95%; margin-top: 30px; box-shadow: none">
            <mat-card-content>
              <p><b>Ogłoszenia </b></p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card style="width: 100%; height: 95%; margin-top: 20px; box-shadow: none">
            <mat-card-content/>
            <mat-card-actions style="margin: auto;">
              <p style="margin-top: -5px; font-size: small"><b>{{ actualGame }}</b></p>
              <button type="submit" class="btn btn-lg btn-secondary btn-block btn-logout" (click)="goToHome()">
                <b> Powrót do menu </b>
              </button>
            </mat-card-actions>
          </mat-card>

        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card style="width: 100%; height: 95%; margin-top: 20px; box-shadow: none;">
            <mat-card-content/>
            <mat-card-actions align="end">
              <button type="submit" class="btn btn-lg btn-secondary btn-block btn-logout btn-small-icon" (click)="goToChat()">
                <i class="fa fa-comments-o" aria-hidden="true"></i>
              </button>
              <button type="submit" class="btn btn-lg btn-secondary btn-block btn-logout btn-small-icon" (click)="goToProfile()">
                <i class="fa fa-user" aria-hidden="true"></i>
              </button>
              <button type="submit" class="btn btn-lg btn-primary btn-block btn-logout " (click)="logOut()">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <b> Wyloguj się</b>
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>
      <ul class="menu-list">
        <li class="menu"></li>
      </ul>
    </mat-card>

    <mat-card id="home-card">
      <mat-card-title style="border-bottom: solid 1px gray; width: 95%; padding: 10px; margin: auto;">
        <button type="submit" class="btn btn-lg btn-warning btn-block btn-logout" style="margin: auto;" (click)="openDialogCreateAnnouncement()">
          <p><b>Utwórz ogłoszenie</b></p>
        </button>
      </mat-card-title>
      <mat-card-content>

        <mat-grid-list cols="3" rowHeight="110px" style="margin-top: 10px;">
          <mat-grid-tile [colspan]="3" [rowspan]="5">
            <mat-card style="width: 100%; height: 100%;">
              <mat-card-content style="margin: auto; text-align: center; width: 100%">
                <mat-list style="width: 100%; text-align: left; min-height: 550px; max-height: 550px; overflow-y: auto;">

                  <mat-list-item *ngFor="let announcement of announcements" style="height: 70px;" >
                    <mat-card style="height: 60px; box-shadow: none;" class="group-card">
                      <mat-grid-list cols="3" rowHeight="60px" >

                        <mat-grid-tile class="mouse-pointer" [colspan]="2" [rowspan]="1" (click)="goToAnnouncementDetails(announcement.announcementId)">
                          <mat-card style="width: 100%; height: 100%; box-shadow: none; background: none;">
                            <mat-card-content style="text-align: left; height: 100%; padding-top: 15px;">
                              <h6><b><span style="color: rgb(112, 2, 2); padding-left: 5px; padding-right: 5px;">[{{ getAppGroupName(announcement.appGroupId) }}]</span> : {{ announcement.announcementTitle }}</b></h6>
                            </mat-card-content>
                          </mat-card>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                          <mat-card style="width: 100%; height: 100%; box-shadow: none; background: none;">
                            <mat-card-content/>
                            <mat-card-actions align="end">
                              <button *ngIf="announcement.appUserId === appUser.appUserId" type="submit" class="btn btn-lg btn-warning btn-block mouse-pointer" style="width: 150px; margin: 3px;" (click)="openDialogEditAnnouncement(announcement.announcementId)">
                                <b style="font-size: 16px">Edytuj </b>
                                <i class="fa fa-cog fa" aria-hidden="true" style="margin: auto;"></i>
                              </button>
                              <button *ngIf="announcement.appUserId === appUser.appUserId" type="submit" class="btn btn-lg btn-error btn-block mouse-pointer" style="width: 150px; margin: 3px;" (click)="deleteAnnouncement(announcement)">
                                <b style="font-size: 16px">Usuń </b>
                                <i class="fa fa-trash" aria-hidden="true" style="margin: auto;"></i>
                              </button>
                            </mat-card-actions>
                          </mat-card>
                        </mat-grid-tile>

                      </mat-grid-list>
                    </mat-card>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>

  </div>
</div>
