<div style="margin: 20px"><h4 mat-dialog-title>Wyślij wiadomość do {{ appUserToDialog.appUserNickname }}</h4>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Treść wiadomości : </mat-label>
      <textarea matInput [(ngModel)]="message"
                [cdkTextareaAutosize]
                cdkAutosizeMinRows="8"
                cdkAutosizeMaxRows="8">
    </textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="submit" class="btn btn-lg btn-secondary btn-block btn-logout" (click)="onNoClick()">
      <i class="fa fa-gamepad" aria-hidden="true"></i>
      <b> Wróć</b>
    </button>
    <button type="submit" class="btn btn-lg btn-primary btn-block btn-logout" (click)="sendMessage()" [disabled]="message===''">
      <i class="fa fa-gamepad" aria-hidden="true"></i>
      <b> Wyślij</b>
    </button>
  </mat-dialog-actions>
</div>
