<title>Please sign in</title>
<link href="appuser.component.css" rel="stylesheet">
<link href="../form.component.css" rel="stylesheet">
<link rel="stylesheet" href="../../libs/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
  <div class="container">

    <mat-card id="menu-card">
      <mat-grid-list cols="3" rowHeight="60px">

        <mat-grid-tile [colspan]="1" [rowspan]="1" >
          <mat-card style="width: 100%; height: 95%;">
            <mat-card-content style="text-align: left">
              <p><b>
                <p class="menu-card-list-item-p"><b>Użytkownicy</b></p>
              </b></p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card style="width: 100%; height: 95%;">
            <mat-card-content/>
            <mat-card-actions style="margin: auto;">
              <p style="margin-top: -5px; font-size: small"><b>{{ actualGame }}</b></p>
              <button type="submit" class="btn btn-lg btn-secondary btn-block btn-logout" (click)="goToHome()">
                <b> Powrót do menu </b>
              </button>
            </mat-card-actions>
          </mat-card>

        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card style="width: 100%; height: 95%;">
            <mat-card-content/>
            <mat-card-actions align="end">
              <button type="submit" class="btn btn-lg btn-secondary btn-block btn-logout btn-small-icon" (click)="goToChat()">
                <i class="fa fa-comments-o" aria-hidden="true"></i>
              </button>
              <button type="submit" class="btn btn-lg btn-secondary btn-block btn-logout btn-small-icon" (click)="goToProfile()">
                <i class="fa fa-user" aria-hidden="true"></i>
              </button>
              <button type="submit" class="btn btn-lg btn-primary btn-block btn-logout " (click)="logOut()">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <b> Wyloguj się</b>
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>
    </mat-card>

    <mat-card id="home-card">
      <mat-card-title/>
      <mat-card-content>
        <mat-grid-list cols="6" rowHeight="110px" style="margin-top: 10px;">

          <mat-grid-tile class="mouse-pointer" [colspan]="3" [rowspan]="5">
            <mat-card style="width: 100%; height: 100%; box-shadow: none; background: none;">
              <mat-card-content style="text-align: left; height: 100%; padding: 0px;">

                <form (ngSubmit)="filterAppUsers()">
                  <p>
                    <mat-form-field style="margin: auto; padding-top: 20px">
                      <mat-label> {{ actualGameAttributeName }} </mat-label>
                      <mat-select [formControl]="gameAttributeFormControl">
                        <mat-option *ngFor="let attributeForGame of attributesForGame" [value]="attributeForGame.attributeId">
                          {{ attributeForGame.attributeName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field>
                      <mat-label>Wiek od</mat-label>
                      <input type="number" matInput [formControl]="ageFromFormControl">
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field>
                      <mat-label>Wiek do</mat-label>
                      <input type="number" matInput [formControl]="ageToFormControl">
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field>
                      <mat-label>Płeć</mat-label>
                      <mat-select [formControl]="genderFormControl">
                        <mat-option value="FEMALE">{{ GenderEnum.FEMALE }}</mat-option>
                        <mat-option value="MALE">{{ GenderEnum.MALE }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </p>
                  <button type="submit" class="btn btn-lg btn-primary btn-block">
                    <span>Filtruj użytkowników</span>
                  </button>
                  <button class="btn btn-lg btn-secondary btn-block" (click)="getUsers()">
                    <span>Usuń filtr</span>
                  </button>
                </form>

              </mat-card-content>
            </mat-card>
          </mat-grid-tile>


          <mat-grid-tile [colspan]="3" [rowspan]="5">
            <mat-card style="width: 100%; height: 100%;" >
              <mat-card-content style="margin: auto; text-align: center; width: 100%">
                <mat-list style="width: 100%; text-align: left; min-height: 450px; max-height: 450px; overflow-y: auto; border-top: solid 1px lightgray; border-bottom: solid 1px lightgray;">

                  <mat-list-item *ngFor="let appUser of appUsers" style="height: 70px;" >
                    <mat-card style="height: 60px; box-shadow: none;" class="gamer-card">
                      <mat-grid-list cols="3" rowHeight="60px" >
                        <mat-grid-tile class="mouse-pointer" [colspan]="2" [rowspan]="1" (click)="goToGamerProfile(appUser.appUserId)">
                          <mat-card style="width: 100%; height: 100%; box-shadow: none; background: none;">
                            <mat-card-content style="text-align: left; height: 100%; padding: 0px;">
                              <img *ngIf="appUser.appUserProfileImgUrl" src="{{ appUser.appUserProfileImgUrl }}" />
                              <img *ngIf="!appUser.appUserProfileImgUrl" src="/assets/images/annonymous.jpg" />
                              <b><span style="color: rgb(112, 2, 2); padding-left: 5px; padding-right: 5px">{{ appUser.appUserUsername }}</span></b>
                            </mat-card-content>
                          </mat-card>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                          <mat-card style="width: 100%; height: 95%; box-shadow: none; background: none;">
                            <mat-card-content/>
                            <mat-card-actions align="end">
                              <button type="submit" class="btn btn-lg btn-primary btn-block btn-logout mouse-pointer" style="width: 45px; height: 40px" (click)="openMessageDialog(appUser.appUserId)">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                              </button>
                            </mat-card-actions>
                          </mat-card>
                        </mat-grid-tile>
                      </mat-grid-list>
                      <ul class="menu-list">
                        <li class="menu"></li>
                      </ul>
                    </mat-card>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>

  </div>
