<div style="margin: 20px; width: 100%"><h4 mat-dialog-title>Profil użytkownika <b><span style="color: rgb(112, 2, 2);">{{ this.appUserToDialog.appUserUsername }}</span></b></h4>
<mat-dialog-content>
  <mat-card id="profile-card">
      <mat-grid-list cols="2" rowHeight="40px" style="margin-top: 10px;">
        <mat-grid-tile [colspan]="1" [rowspan]="6">
          <mat-card  class="mat-card-col1">
            <mat-card-content>
              <ul>
                <li>
                  <img *ngIf="this.appUserToDialog.appUserProfileImgUrl" src="{{ this.appUserToDialog.appUserProfileImgUrl }}" />
                  <img *ngIf="!this.appUserToDialog.appUserProfileImgUrl" src="/assets/images/annonymous.jpg" />
                </li>
                <li style="margin: 15px;">
                  <h2><b><span style="color: rgb(112, 2, 2);">{{ this.appUserToDialog.appUserNickname }}</span></b></h2>
                </li>
              </ul>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="6">
          <mat-card  class="mat-card-col1">
            <ul>
              <li>
                <mat-form-field>
                  <mat-label>E-mail</mat-label>
                  <input type="email" matInput [value]="this.appUserToDialog.appUserEmail" disabled>
                </mat-form-field>
              </li>
              <li>
                <mat-form-field>
                  <mat-label>Nick gracza</mat-label>
                  <input type="text" matInput [value]="this.appUserToDialog.appUserNickname" disabled>
                </mat-form-field>
              </li>
              <li>
                <mat-form-field>
                  <mat-label>Płeć</mat-label>
                  <input type="text" matInput [value]="this.appUserToDialog.appUserGender" disabled>
                </mat-form-field>
              </li>
            </ul>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="6">
          <mat-card mat-card  class="mat-card-col2">
            <ul>
              <li>
                <mat-form-field>
                  <mat-label>Discord URL</mat-label>
                  <input type="text" matInput [value]="this.appUserToDialog.appUserDiscord" disabled>
                </mat-form-field>
              </li>
              <li>
                <mat-form-field>
                  <mat-label>Teamspeak URL</mat-label>
                  <input type="text" matInput [value]="this.appUserToDialog.appUserTeamspeak" disabled>
                </mat-form-field>
              </li>
              <li>
                <mat-form-field>
                  <mat-label>Dośtwiadczenie w grze : {{ activeGame.gameName }} [{{activeGame.gameAttributeTitle}}] </mat-label>
                  <input type="text" matInput [value]="experienceInGame" disabled>
                </mat-form-field>
              </li>
            </ul>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
  </mat-card>
</mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="submit" class="btn btn-lg btn-secondary btn-block btn-logout" (click)="onNoClick()">
      <i class="fa fa-gamepad" aria-hidden="true"></i>
      <b> Wróć</b>
    </button>
    <button type="submit" class="btn btn-lg btn-primary btn-block btn-logout" (click)="openMessageDialog()">
      <i class="fa fa-gamepad" aria-hidden="true"></i>
      <b> Napisz wiadomość </b>
    </button>
  </mat-dialog-actions>
</div>

