<title>Please sign in</title>
<link href="chat.component.css" rel="stylesheet">
<link href="../form.component.css" rel="stylesheet">
<link rel="stylesheet" href="../../libs/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
<div class="container">
  <div class="container">

    <mat-card id="menu-card" style="margin-bottom: 10px;">
      <mat-grid-list cols="3" rowHeight="60px">

        <mat-grid-tile [colspan]="1" [rowspan]="1" >
          <mat-card style="width: 100%; height: 95%;">
            <mat-card-content style="text-align: left">
              <p><b>Witaj
                <span style="color: rgb(112, 2, 2);">{{ appUser.appUserNickname }}</span>
                !
              </b></p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-card style="width: 100%; height: 95%;">
            <mat-card-content/>
            <mat-card-actions align="end">
              <button type="submit" class="btn btn-lg btn-secondary btn-block btn-logout" (click)="goToHome()">
                <b> Powrót do menu </b>
              </button>
              <button type="submit" class="btn btn-lg btn-secondary btn-block btn-logout btn-small-icon" (click)="goToProfile()">
                <i class="fa fa-user" aria-hidden="true"></i>
              </button>
              <button type="submit" class="btn btn-lg btn-primary btn-block btn-logout" (click)="logOut()">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <b> Wyloguj się</b>
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>
      <ul class="menu-list">
        <li class="menu"></li>
      </ul>
    </mat-card>

    <mat-card id="home-card">
      <mat-card-title/>
      <mat-card-content>
        <mat-grid-list cols="3" rowHeight="100px" style="margin-top: 10px;">
          <mat-grid-tile [colspan]="1" [rowspan]="6">
            <mat-card style="width: 95%; height: 95%; box-shadow: none" id="menu-tile-announcement">
              <mat-card-content class="bg bg-green" style="align-items: start;">
                <mat-list style="width: 100%; text-align: left; max-height: 450px; overflow-y: auto;" >

                  <mat-list-item *ngFor="let appUser of chatUsers" style="height: 70px;">
                    <mat-card style="height: 60px; box-shadow: none;" class="gamer-card">
                      <mat-grid-list cols="1" rowHeight="60px" >
                        <mat-grid-tile class="mouse-pointer" [colspan]="1" [rowspan]="1">
                          <mat-card style="width: 100%; height: 100%; box-shadow: none; background: none;">
                            <mat-card-content style="text-align: left; height: 100%; padding: 0px;" (click)="loadMessagesForUser(appUser.appUserId)">
                              <img *ngIf="appUser.appUserProfileImgUrl" src="{{ appUser.appUserProfileImgUrl }}" />
                              <img *ngIf="!appUser.appUserProfileImgUrl" src="/assets/images/annonymous.jpg" />
                              <b><span style="color: rgb(112, 2, 2); padding-left: 5px; padding-right: 5px">{{ appUser.appUserUsername }}</span></b> <span style="font-size: x-small"> <i>[[ Nickname: {{ appUser.appUserNickname }} ]] </i> </span>
                            </mat-card-content>
                          </mat-card>
                        </mat-grid-tile>
                      </mat-grid-list>
                    </mat-card>
                  </mat-list-item>
                  <div style="overflow-anchor: auto; height: 1px;"></div>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="2" [rowspan]="4">
            <mat-card style="width: 95%; height: 95%;">
              <mat-card-content style="align-items: start;">
                <mat-list style="max-height: 330px; overflow-y: auto;">
                  <mat-list-item *ngFor="let chatMessage of chatMessages" style="height: 70px;" datasrc="chatMessages">
                    <mat-card style="height: 60px; box-shadow: none;">
                      <mat-grid-list cols="1" rowHeight="60px" >
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                          <mat-card style="width: 100%; height: 100%; box-shadow: none; background: none;">
                            <mat-card-content style="text-align: left; height: 100%; padding: 0px;">
                              <span *ngIf="appUser.appUserId === chatMessage.appUserId" style="text-align: right; display: block;">
                                <span style="font-size: x-small;">
                                <img class="min-img" *ngIf="appUser.appUserProfileImgUrl" src="{{ appUser.appUserProfileImgUrl }}" />
                                <img class="min-img" *ngIf="!appUser.appUserProfileImgUrl" src="/assets/images/annonymous.jpg" />
                                <i><b>{{appUser.appUserUsername}} - {{getFormattedDate(chatMessage.chatMessageDate)}}</b></i></span>
                                <p>{{chatMessage.chatMessageMsg}}</p>
                              </span>
                              <span *ngIf="appUser.appUserId !== chatMessage.appUserId">
                                <img class="min-img" *ngIf="actualChatUser.appUserProfileImgUrl" src="{{ actualChatUser.appUserProfileImgUrl }}" />
                                <img class="min-img" *ngIf="!actualChatUser.appUserProfileImgUrl" src="/assets/images/annonymous.jpg" />
                                <i><b><span style="font-size: x-small;">{{actualChatUser.appUserUsername}} - {{getFormattedDate(chatMessage.chatMessageDate)}}</span></b></i>
                                <p>{{chatMessage.chatMessageMsg}}</p>
                              </span>
                            </mat-card-content>
                          </mat-card>
                        </mat-grid-tile>
                      </mat-grid-list>
                    </mat-card>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>


          <mat-grid-tile [colspan]="2" [rowspan]="2">
            <mat-card style="width: 95%; height: 95%; background: none; box-shadow: none;">
              <mat-card-content>
                <p>Napisz wiadomość :</p>
                <mat-grid-list cols="3" rowHeight="60px" style="margin-top: 10px;">
                  <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-card style="width: 95%; height: 95%; background: none; box-shadow: none;">
                      <textarea matInput [(ngModel)]="message"
                                [cdkTextareaAutosize]
                                cdkAutosizeMinRows="2"
                                cdkAutosizeMaxRows="2"
                                style="width: 95%; height: 50px">
                      </textarea>
                    </mat-card>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-card style="width: 95%; height: 95%; background: none; box-shadow: none;">
                      <button type="submit" class="btn btn-lg btn-primary btn-block btn-logout"
                              (click)="sendMessage()" [disabled]="message===''" style="width: 95%;">
                        <i class="fa fa-gamepad" aria-hidden="true"></i>
                        <b> Wyślij</b>
                      </button>
                    </mat-card>
                  </mat-grid-tile>
                </mat-grid-list>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>


