#register-button:link,:visited,:hover,:active {
    text-decoration: none; 
}
body {
    background-color: #eee;
}
:host {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
  }
  #login-card {
    max-width: 500px;
    margin: auto;
  }
  .mat-form-field, form {
    width: 80%;
  }
  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }
  mat-card-title {
    margin-top: 20px;
    margin-bottom: 20px
  }
  mat-card-content{
    padding-bottom: 150px;
  }
  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }
  .form-error {
    font-size: small;
  }