<link href="login.component.css" rel="stylesheet">
<link href="../form.component.css" rel="stylesheet">
<link rel="stylesheet" href="../../libs/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
<div class="container">
    <mat-card id="login-card">
        <mat-card-title>
            <h3>Zaloguj się</h3>             
        </mat-card-title>
        <mat-card-content>
            <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
                <p>
                    <mat-form-field>
                        <mat-label>Login</mat-label>
                        <input type="text" matInput name="appUserUsername" id="appUserUsername" 
                            ngModel 
                            #appUserUsernameInput="ngModel" required>
                        <mat-error class="form-error" *ngIf="appUserUsernameInput.invalid 
                            && appUserUsernameInput.touched">Wpisz login</mat-error>
                    </mat-form-field>    
                </p>
                <p>
                    <mat-form-field>
                        <mat-label>Hasło</mat-label>
                        <input type="password" matInput name="appUserPassword" id="appUserPassword"
                            ngModel 
                            #appUserPasswordInput="ngModel" required>
                            <mat-error class="form-error" *ngIf="appUserPasswordInput.invalid 
                                && appUserPasswordInput.touched">Wpisz hasło</mat-error>
                    </mat-form-field>
                </p>

                <button type="submit" [disabled]="loginForm.invalid || showLoading" class="
                btn btn-lg btn-primary btn-block">
                    <i *ngIf="showLoading" class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;
                    <span *ngIf="showLoading"> Logowanie...</span>
                    <i *ngIf="!showLoading" class="fa fa-sign-in" aria-hidden="true"></i>
                    <span *ngIf="!showLoading"> Zaloguj</span>
                </button>
                <br>
            <p>Nie posiadasz konta?</p>
            <a id="register-button" href='/register'>
                <button class="btn btn-lg btn-secondary btn-block" type="button" style="margin-bottom: 20px;">
                    <i class="fa fa-user-plus" aria-hidden="true"></i> Zarejestruj się</button>
            </a>
            </form>
        </mat-card-content>
    </mat-card>
</div>