<title>Please sign in</title>
<link href="game.component.css" rel="stylesheet">
<link href="../form.component.css" rel="stylesheet">
<link rel="stylesheet" href="../../libs/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
<div class="container">
  <div class="container">

    <mat-card id="menu-card" style="margin-bottom: 10px;">
      <mat-grid-list cols="3" rowHeight="60px">

        <mat-grid-tile [colspan]="1" [rowspan]="1" >
          <mat-card style="width: 100%; height: 95%;">
            <mat-card-content style="text-align: left">
              <p><b>Witaj
                <span style="color: rgb(112, 2, 2);">{{ appUser.appUserNickname }}</span>
                !
              </b></p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card style="width: 100%; height: 95%;">
            <mat-card-content/>
            <mat-card-actions style="margin: auto;">
              <p style="margin-top: -5px;"><b>WYBIERZ GRĘ</b></p>
            </mat-card-actions>
          </mat-card>

        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card style="width: 100%; height: 95%;">
            <mat-card-content/>
            <mat-card-actions align="end">
              <button type="submit" class="btn btn-lg btn-primary btn-block btn-logout " (click)="logOut()">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <b> Wyloguj się</b>
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>
      <ul class="menu-list">
        <li class="menu"></li>
      </ul>
    </mat-card>

    <mat-card id="home-card">
      <mat-hint style="font-size: small; text-align: center; color: red; margin-top: 10px;"><b>Zmiana rangi w danej grze spowoduje automatyczną aktualizację!</b></mat-hint>
      <mat-card-title/>
      <mat-card-content>
        <mat-grid-list cols="3" rowHeight="100px" style="margin-top: 10px;">
          <mat-grid-tile [colspan]="1" [rowspan]="4">
            <mat-card style="width: 95%; height: 95%;" id="menu-tile-announcement" class="menu-item">
              <mat-card-content id="game-one-card" class="bg bg-game" style="margin: auto; text-align: center;">
                <ul style="list-style-type: none;">
                  <li>
                    <p id="game-one-card-name" style="width: 100%; background-color: rgba(255,255,255,0.7); border-radius: 15px;"><b>{{ gameOneName }}</b></p>
                  </li>
                  <li>
                    <p id="game-one-card-description" style="background-color: rgba(255,255,255,0.7); border-radius: 15px;"><b> {{ gameOneDescription }} </b></p>
                  </li>
                  <li>
                    <button style="margin: auto;" type="submit" class="btn btn-lg btn-warning btn-block btn-logout"
                            (click)="setGame(0, attributesForGameOne, gameOneAttributeFormControl.value)">
                      <b> Wybierz grę</b>
                    </button>
                  </li>
                  <li>
                    <mat-form-field style="margin: auto; padding-top: 20px">
                      <mat-label> {{gameOneAttributeName}} </mat-label>
                      <mat-select [formControl]="gameOneAttributeFormControl" (selectionChange)="setGameOneAttribute()">
                        <mat-option *ngFor="let attributeForGameOne of attributesForGameOne" [value]="attributeForGameOne.attributeId">
                          {{ attributeForGameOne.attributeName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </li>
                </ul>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="4">
            <mat-card style="width: 95%; height: 95%;" id="menu-tile-group" class="menu-item">
              <mat-card-content id="game-two-card" class="bg bg-game" style="margin: auto; text-align: center;">
                <ul style="list-style-type: none;">
                  <li>
                    <p style="width: 100%; background-color: rgba(255,255,255,0.7); border-radius: 15px;"><b>{{ gameTwoName }}</b></p>
                  </li>
                  <li>
                    <p style="background-color: rgba(255,255,255,0.7); border-radius: 15px;"><b>{{ gameTwoDescription }}</b></p>
                  </li>
                  <li>
                    <button style="margin: auto;" type="submit" class="btn btn-lg btn-warning btn-block btn-logout"
                            (click)="setGame(1, attributesForGameTwo, gameTwoAttributeFormControl.value)">
                      <b> Wybierz grę</b>
                    </button>
                  </li>
                  <li>
                    <mat-form-field style="margin: auto; padding-top: 20px">
                      <mat-label>{{ gameTwoAttributeName }}</mat-label>
                      <mat-select [formControl]="gameTwoAttributeFormControl" (selectionChange)="setGameTwoAttribute()">
                        <mat-option *ngFor="let attributeForGameTwo of attributesForGameTwo" [value]="attributeForGameTwo.attributeId">
                          {{ attributeForGameTwo.attributeName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </li>
                </ul>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="4">
            <mat-card style="width: 95%; height: 95%;" id="menu-tile-player" class="menu-item">
              <mat-card-content id="game-three-card" class="bg bg-game" style="margin: auto; text-align: center;">
                <ul style="list-style-type: none;">
                  <li>
                    <p style="width: 100%; background-color: rgba(255,255,255,0.7); border-radius: 15px;"><b>{{ gameThreeName }}</b></p>
                  </li>
                  <li>
                    <p style="background-color: rgba(255,255,255,0.7); border-radius: 15px;"><b>{{ gameThreeDescription }}</b></p>
                  </li>
                  <li>
                    <button style="margin: auto;" type="submit" class="btn btn-lg btn-warning btn-block btn-logout"
                            (click)="setGame(2, attributesForGameThree, gameThreeAttributeFormControl.value)">
                      <b> Wybierz grę</b>
                    </button>
                  </li>
                  <li>
                    <mat-form-field style="margin: auto; padding-top: 20px">
                      <mat-label>{{ gameThreeAttributeName }}</mat-label>
                      <mat-select [formControl]="gameThreeAttributeFormControl" (selectionChange)="setGameThreeAttribute()">
                        <mat-option *ngFor="let attributeForGameThree of attributesForGameThree" [value]="attributeForGameThree.attributeId">
                          {{ attributeForGameThree.attributeName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </li>
                </ul>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>


