#register-button:link,:visited,:hover,:active {
  text-decoration: none;
}
.btn-logout{
  margin: 10px;
  width: 150px;
  height: 40px;
  font-size: small;
  text-align: center;
  align-self: flex-end;
}
.menu-card {
  display: flex;
}
ul.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li.menu {
  float: right;
  height: inherit;
}
li.menu > p {
  transform: translateY(60%);
}
body {
  background-color: #eee;
}
:host {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.menu-item {
  transition: transform 1s,
  background-color 1s;
  color:1s;
  cursor: pointer;
}
.menu-item:hover {
  color: rgb(61, 61, 61);
  transform: scale(1.03);
}

.btn-small-icon {
  width: 50px;
}

#menu-tile-game:hover {
  background-color: rgba(223, 252, 214, 0.5);
}
#menu-tile-profile:hover {
  background-color: rgba(214, 243, 252, 0.5);
}
#menu-tile-announcement:hover {
  background-color: rgba(237, 214, 252, 0.5);
}
#menu-tile-player:hover {
  background-color: rgba(252, 214, 214, 0.5);
}
#menu-tile-group:hover {
  background-color: rgba(252, 251, 214, 0.5);
}
.bg {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  -webkit-animation: AnimateBG 20s ease infinite;
  animation: AnimateBG 20s ease infinite;
}
.bg-game {
  background-size: auto;
  background-repeat: no-repeat;
}
@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
