@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
}

.background .background-circle {
    width: 9vmin;
    height: 9vmin;
    border-radius: 9vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background .background-circle:nth-child(0) {
    color: #e1f2ff;
    top: 66%;
    left: 10%;
    animation-duration: 23s;
    animation-delay: -26s;
    transform-origin: -19vw -14vh;
    box-shadow: -18vmin 0 2.3186834622906844vmin currentColor;
}
.background .background-circle:nth-child(1) {
    color: #e1f2ff;
    top: 40%;
    left: 44%;
    animation-duration: 21s;
    animation-delay: -32s;
    transform-origin: -6vw -9vh;
    box-shadow: 18vmin 0 2.3840807544575453vmin currentColor;
}
.background .background-circle:nth-child(2) {
    color: #e1f2ff;
    top: 60%;
    left: 35%;
    animation-duration: 8s;
    animation-delay: -50s;
    transform-origin: 3vw -15vh;
    box-shadow: 18vmin 0 2.8426276341413vmin currentColor;
}
.background .background-circle:nth-child(3) {
    color: #c3c3c3;
    top: 60%;
    left: 15%;
    animation-duration: 43s;
    animation-delay: -42s;
    transform-origin: -23vw 1vh;
    box-shadow: 18vmin 0 2.292965787464727vmin currentColor;
}
.background .background-circle:nth-child(4) {
    color: #c3c3c3;
    top: 46%;
    left: 39%;
    animation-duration: 31s;
    animation-delay: -13s;
    transform-origin: 15vw 15vh;
    box-shadow: 18vmin 0 2.550279330975866vmin currentColor;
}
.background .background-circle:nth-child(5) {
    color: #ffffff;
    top: 91%;
    left: 33%;
    animation-duration: 37s;
    animation-delay: -32s;
    transform-origin: 14vw -12vh;
    box-shadow: 18vmin 0 3.0775308110796615vmin currentColor;
}
.background .background-circle:nth-child(6) {
    color: #ffffff;
    top: 96%;
    left: 93%;
    animation-duration: 18s;
    animation-delay: -28s;
    transform-origin: 23vw 16vh;
    box-shadow: 18vmin 0 2.676310344206084vmin currentColor;
}
.background .background-circle:nth-child(7) {
    color: #c3c3c3;
    top: 22%;
    left: 2%;
    animation-duration: 25s;
    animation-delay: -50s;
    transform-origin: 23vw 19vh;
    box-shadow: 18vmin 0 2.9763444207333523vmin currentColor;
}
.background .background-circle:nth-child(8) {
    color: #ffffff;
    top: 50%;
    left: 36%;
    animation-duration: 28s;
    animation-delay: -4s;
    transform-origin: 25vw -15vh;
    box-shadow: -18vmin 0 3.110348372022422vmin currentColor;
}
.background .background-circle:nth-child(9) {
    color: #ffffff;
    top: 9%;
    left: 27%;
    animation-duration: 26s;
    animation-delay: -40s;
    transform-origin: 12vw -18vh;
    box-shadow: 18vmin 0 2.3381112484914337vmin currentColor;
}
.background .background-circle:nth-child(10) {
    color: #8d8d8d;
    top: 33%;
    left: 17%;
    animation-duration: 16s;
    animation-delay: -12s;
    transform-origin: -11vw -12vh;
    box-shadow: 18vmin 0 3.1105477194142765vmin currentColor;
}
.background .background-circle:nth-child(11) {
    color: #8d8d8d;
    top: 13%;
    left: 55%;
    animation-duration: 48s;
    animation-delay: -1s;
    transform-origin: -8vw -2vh;
    box-shadow: 18vmin 0 2.7344918325137995vmin currentColor;
}
.background .background-circle:nth-child(12) {
    color: #e1f2ff;
    top: 70%;
    left: 38%;
    animation-duration: 29s;
    animation-delay: -21s;
    transform-origin: 10vw 18vh;
    box-shadow: -18vmin 0 2.6826725680311574vmin currentColor;
}
.background .background-circle:nth-child(13) {
    color: #ffffff;
    top: 71%;
    left: 1%;
    animation-duration: 12s;
    animation-delay: -12s;
    transform-origin: 2vw 12vh;
    box-shadow: -18vmin 0 2.841133754193133vmin currentColor;
}
.background .background-circle:nth-child(14) {
    color: #c3c3c3;
    top: 42%;
    left: 36%;
    animation-duration: 11s;
    animation-delay: -9s;
    transform-origin: 15vw 1vh;
    box-shadow: -18vmin 0 2.95732639087879vmin currentColor;
}
.background .background-circle:nth-child(15) {
    color: #c3c3c3;
    top: 65%;
    left: 82%;
    animation-duration: 16s;
    animation-delay: -16s;
    transform-origin: -5vw -12vh;
    box-shadow: 18vmin 0 3.213962947105017vmin currentColor;
}
.background .background-circle:nth-child(16) {
    color: #c3c3c3;
    top: 12%;
    left: 87%;
    animation-duration: 43s;
    animation-delay: -43s;
    transform-origin: -18vw -1vh;
    box-shadow: -18vmin 0 2.835231637898778vmin currentColor;
}
.background .background-circle:nth-child(17) {
    color: #8d8d8d;
    top: 69%;
    left: 79%;
    animation-duration: 43s;
    animation-delay: -30s;
    transform-origin: -10vw -4vh;
    box-shadow: 18vmin 0 2.6252385474787183vmin currentColor;
}
.background .background-circle:nth-child(18) {
    color: #ffffff;
    top: 8%;
    left: 10%;
    animation-duration: 47s;
    animation-delay: -5s;
    transform-origin: 12vw 18vh;
    box-shadow: 18vmin 0 2.7409381455244812vmin currentColor;
}
.background .background-circle:nth-child(19) {
    color: #c3c3c3;
    top: 11%;
    left: 97%;
    animation-duration: 31s;
    animation-delay: -40s;
    transform-origin: -24vw 4vh;
    box-shadow: -18vmin 0 2.724470209510395vmin currentColor;
}
.background .background-circle:nth-child(20) {
    color: #ffffff;
    top: 90%;
    left: 71%;
    animation-duration: 54s;
    animation-delay: -20s;
    transform-origin: 11vw 19vh;
    box-shadow: -18vmin 0 2.9335375882561117vmin currentColor;
}
.background .background-circle:nth-child(21) {
    color: #8d8d8d;
    top: 68%;
    left: 81%;
    animation-duration: 21s;
    animation-delay: -48s;
    transform-origin: -10vw -20vh;
    box-shadow: 18vmin 0 2.4502388883589257vmin currentColor;
}
.background .background-circle:nth-child(22) {
    color: #c3c3c3;
    top: 29%;
    left: 19%;
    animation-duration: 46s;
    animation-delay: -25s;
    transform-origin: -10vw 15vh;
    box-shadow: -18vmin 0 2.8149798426969146vmin currentColor;
}
.background .background-circle:nth-child(23) {
    color: #e1f2ff;
    top: 70%;
    left: 95%;
    animation-duration: 45s;
    animation-delay: -36s;
    transform-origin: -4vw -19vh;
    box-shadow: -18vmin 0 2.31141122199827vmin currentColor;
}
.background .background-circle:nth-child(24) {
    color: #ffffff;
    top: 78%;
    left: 36%;
    animation-duration: 32s;
    animation-delay: -41s;
    transform-origin: -18vw 11vh;
    box-shadow: -18vmin 0 2.775145666808389vmin currentColor;
}
.background .background-circle:nth-child(25) {
    color: #e1f2ff;
    top: 51%;
    left: 3%;
    animation-duration: 40s;
    animation-delay: -40s;
    transform-origin: 9vw 10vh;
    box-shadow: -18vmin 0 3.2214257852991004vmin currentColor;
}
.background .background-circle:nth-child(26) {
    color: #8d8d8d;
    top: 43%;
    left: 2%;
    animation-duration: 27s;
    animation-delay: -41s;
    transform-origin: -22vw -9vh;
    box-shadow: -18vmin 0 3.05224182712716vmin currentColor;
}
.background .background-circle:nth-child(27) {
    color: #c3c3c3;
    top: 66%;
    left: 37%;
    animation-duration: 29s;
    animation-delay: -23s;
    transform-origin: 25vw 16vh;
    box-shadow: 18vmin 0 2.912623753161779vmin currentColor;
}
.background .background-circle:nth-child(28) {
    color: #8d8d8d;
    top: 94%;
    left: 77%;
    animation-duration: 55s;
    animation-delay: -2s;
    transform-origin: -3vw -12vh;
    box-shadow: 18vmin 0 2.8785334958187025vmin currentColor;
}
.background .background-circle:nth-child(29) {
    color: #e1f2ff;
    top: 93%;
    left: 83%;
    animation-duration: 43s;
    animation-delay: -5s;
    transform-origin: 17vw 24vh;
    box-shadow: 18vmin 0 2.2686226303135286vmin currentColor;
}
.background .background-circle:nth-child(30) {
    color: #c3c3c3;
    top: 4%;
    left: 81%;
    animation-duration: 35s;
    animation-delay: -21s;
    transform-origin: 5vw 12vh;
    box-shadow: 18vmin 0 2.7433300475127087vmin currentColor;
}
.background .background-circle:nth-child(31) {
    color: #ffffff;
    top: 91%;
    left: 34%;
    animation-duration: 23s;
    animation-delay: -10s;
    transform-origin: -6vw -24vh;
    box-shadow: -18vmin 0 3.2262660825216676vmin currentColor;
}
.background .background-circle:nth-child(32) {
    color: #ffffff;
    top: 42%;
    left: 89%;
    animation-duration: 7s;
    animation-delay: -5s;
    transform-origin: 19vw 11vh;
    box-shadow: -18vmin 0 2.830397366531175vmin currentColor;
}
.background .background-circle:nth-child(33) {
    color: #ffffff;
    top: 78%;
    left: 4%;
    animation-duration: 33s;
    animation-delay: -30s;
    transform-origin: -22vw 6vh;
    box-shadow: -18vmin 0 2.3180572110555593vmin currentColor;
}
.background .background-circle:nth-child(34) {
    color: #e1f2ff;
    top: 54%;
    left: 73%;
    animation-duration: 23s;
    animation-delay: -35s;
    transform-origin: 4vw -23vh;
    box-shadow: 18vmin 0 2.841306269278988vmin currentColor;
}
.background .background-circle:nth-child(35) {
    color: #ffffff;
    top: 99%;
    left: 47%;
    animation-duration: 19s;
    animation-delay: -13s;
    transform-origin: 17vw 2vh;
    box-shadow: -18vmin 0 2.479712876106875vmin currentColor;
}
.background .background-circle:nth-child(36) {
    color: #ffffff;
    top: 84%;
    left: 4%;
    animation-duration: 11s;
    animation-delay: -39s;
    transform-origin: 10vw -9vh;
    box-shadow: -18vmin 0 2.518616152579548vmin currentColor;
}
.background .background-circle:nth-child(37) {
    color: #e1f2ff;
    top: 64%;
    left: 31%;
    animation-duration: 11s;
    animation-delay: -44s;
    transform-origin: -1vw -5vh;
    box-shadow: -18vmin 0 2.571681879626243vmin currentColor;
}
.background .background-circle:nth-child(38) {
    color: #c3c3c3;
    top: 43%;
    left: 45%;
    animation-duration: 6s;
    animation-delay: -31s;
    transform-origin: 1vw -18vh;
    box-shadow: 18vmin 0 2.373215260009412vmin currentColor;
}
.background .background-circle:nth-child(39) {
    color: #e1f2ff;
    top: 52%;
    left: 80%;
    animation-duration: 31s;
    animation-delay: -8s;
    transform-origin: 3vw 5vh;
    box-shadow: 18vmin 0 2.4030845773657417vmin currentColor;
}
.background .background-circle:nth-child(40) {
    color: #8d8d8d;
    top: 12%;
    left: 34%;
    animation-duration: 14s;
    animation-delay: -29s;
    transform-origin: 0vw 2vh;
    box-shadow: 18vmin 0 2.7013342054037404vmin currentColor;
}
