<link href="announcedialog.component.css" rel="stylesheet">
<link href="../form.component.css" rel="stylesheet">
<link rel="stylesheet" href="../../libs/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
<mat-dialog-content>
  <mat-card style="box-shadow: none">
    <mat-grid-list cols="3" rowHeight="45px" style="margin-top: 10px;">
      <mat-grid-tile [colspan]="1" [rowspan]="8">
        <mat-card  class="mat-card-col1" style="box-shadow: none">
          <mat-card-content>
            <ul>
              <li>
                <img *ngIf="announcementAppUser.appUserProfileImgUrl" src="{{ announcementAppUser.appUserProfileImgUrl }}" />
                <img *ngIf="!announcementAppUser.appUserProfileImgUrl" src="/assets/images/annonymous.jpg" />
              </li>
              <li style="margin: 15px;">
                <h2><b><span style="color: rgb(112, 2, 2);">{{ this.announcementAppUser.appUserNickname }}</span></b></h2>

              </li>
              <li style="margin: 15px;">
                <h2><b><span style="color: rgb(112, 2, 2);">[{{ this.appGroup.appGroupName }}]</span></b></h2>
              </li>
              <li style="margin: 15px;">
                <button *ngIf="announcementAppUser.appUserId !== appUser.appUserId" type="submit" class="btn btn-lg btn-secondary btn-block"
                        style="max-width: 300px;" (click)="addAppUserToGroup()">
                  <b><span>Dołącz do grupy</span></b>
                </button>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="8">
        <mat-card style="padding: 15px; box-shadow: none;"  class="mat-card-col1" >
          <ul>
            <li>
              <h2><b><span style="color: rgb(112, 2, 2);">{{ announcement.announcementTitle }}</span></b></h2>
            </li>
            <li>
                <textarea matInput [(ngModel)]="announcement.announcementDescription"
                          [cdkTextareaAutosize]
                          cdkAutosizeMinRows="9"
                          cdkAutosizeMaxRows="9"
                style="width: 100%">
                </textarea>
            </li>
          </ul>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</mat-dialog-content>
