<title>Please sign in</title>
<link href="profile.component.css" rel="stylesheet">
<link href="../form.component.css" rel="stylesheet">
<link rel="stylesheet" href="../../libs/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="container">
      <mat-card id="menu-card" style="margin-bottom: 10px;">
        <mat-grid-list cols="6" rowHeight="60px">

          <mat-grid-tile [colspan]="2" [rowspan]="1" >
            <mat-card style="width: 100%; height: 95%;">
              <mat-card-content style="text-align: left">
                <p><b>
                  Profil użytkownika</b></p>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <mat-card style="width: 100%; height: 95%;">
              <mat-card-content/>
              <mat-card-actions align="end">
                <button type="submit" class="btn btn-lg btn-secondary btn-block btn-logout" (click)="goToHome()">
                  <b> Powrót do menu </b>
                </button>
                <button type="submit" class="btn btn-lg btn-secondary btn-block btn-logout btn-small-icon" (click)="goToChat()">
                  <i class="fa fa-comments-o" aria-hidden="true"></i>
                </button>
                <button type="submit" class="btn btn-lg btn-primary btn-block btn-logout " (click)="logOut()">
                  <i class="fa fa-sign-out" aria-hidden="true"></i>
                  <b> Wyloguj się</b>
                </button>
              </mat-card-actions>
            </mat-card>
          </mat-grid-tile>

        </mat-grid-list>
      </mat-card>
        <mat-card id="profile-card">
            <form #profileForm="ngForm">
                <mat-grid-list cols="2" rowHeight="50px" style="margin-top: 10px;">
                    <mat-grid-tile [colspan]="1" [rowspan]="8">
                        <mat-card  class="mat-card-col1">
                            <mat-card-content>
                                    <ul>
                                        <li>
                                          <img *ngIf="appUser.appUserProfileImgUrl" src="{{ appUser.appUserProfileImgUrl }}" />
                                          <img *ngIf="!appUser.appUserProfileImgUrl" src="/assets/images/annonymous.jpg" />
                                        </li>
                                        <li style="margin: 15px;">
                                            <h2><b><span style="color: rgb(112, 2, 2);">{{ this.appUser.appUserNickname }}</span></b></h2>
                                        </li>
                                        <li>
                                            <mat-form-field>
                                                <mat-label>Url zdjęcia profilowego</mat-label>
                                                <input type="url" matInput [formControl]="pictureUrlControl" required>
                                            </mat-form-field>
                                        </li>
                                        <li>
                                            <button type="submit" [disabled]="pictureUrlControl.invalid || pictureUrlControl.value === appUser.appUserProfileImgUrl"
                                                    class="btn btn-lg btn-secondary btn-block" style="max-width: 300px;" (click)="changePictureUrl()">
                                                <b><span>Ustaw nowy URL</span></b>
                                            </button>
                                        </li>
                                    </ul>
                            </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="8">
                            <mat-card style="padding: 15px;"  class="mat-card-col1">
                                <ul>
                                    <li>
                                        <mat-form-field>
                                            <mat-label>E-mail</mat-label>
                                            <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                                            @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                                                <mat-error>Wpisz poprawny adres e-mail</mat-error>
                                              }
                                        </mat-form-field>
                                    </li>
                                    <li>
                                        <mat-form-field>
                                            <mat-label>Nick gracza</mat-label>
                                            <input type="text" matInput [formControl]="nicknameFormControl">
                                        </mat-form-field>
                                    </li>
                                    <li>
                                        <mat-form-field>
                                            <mat-label>Data urodzenia</mat-label>
                                            <input type="date" matInput [formControl]="dateOfBirthFormControl">
                                        </mat-form-field>
                                        <hr>
                                    </li>
                                    <li>
                                        <mat-form-field>
                                            <mat-label>Płeć</mat-label>
                                            <mat-select [formControl]="genderFormControl">
                                              <mat-option value="FEMALE">{{ GenderEnum.FEMALE }}</mat-option>
                                              <mat-option value="MALE">{{ GenderEnum.MALE }}</mat-option>
                                              <mat-option value="NONE">{{ GenderEnum.NONE }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </li>
                                </ul>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="5">
                            <mat-card mat-card style="padding: 15px;"  class="mat-card-col2">
                                <ul>
                                    <li>
                                        <mat-form-field>
                                            <mat-label>Discord URL</mat-label>
                                            <input type="text" matInput [formControl]="discordUrlFormControl">
                                        </mat-form-field>
                                    </li>
                                    <li>
                                        <mat-form-field>
                                            <mat-label>Teamspeak URL</mat-label>
                                            <input type="text" matInput [formControl]="teamspeakUrlFormControl">
                                        </mat-form-field>
                                    </li>
                                    <li>
                                        <button type="submit" class="btn btn-lg btn-primary btn-block"
                                                style="max-width: 300px;" (click)="changeProfileData()">
                                            <b><span>Zmień dane</span></b>
                                        </button>
                                    </li>
                                </ul>
                            </mat-card>
                        </mat-grid-tile>
                </mat-grid-list>
            </form>
        </mat-card>

    </div>
</div>


