body {
    background-color: #eee;
}
.btn-logout{
  margin: 10px;
  width: 150px;
  height: 40px;
  font-size: small;
  text-align: center;
  align-self: flex-end;
}
.menu-card {
  display: flex;
}

.btn-small-icon {
  width: 50px;
}

.profile-welcome-text{
    font-size: small;
    text-align: center;
    align-self: flex-start;
}
:host {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.menu-card-list {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu-card-list-item {
    float: right;
    height: inherit;
}
.menu-card-list-item-p {
    transform: translateY(60%);
}
ul {
    list-style-type: none;
}
mat-card {
    text-align: center;
    height: 95%;
}
.mat-card-col1 {
    width: 95%;
}
.mat-card-col2 {
    width: 98%;
}
img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 10px 0 rgba(255,255,255,.35);;
    border-radius: 50%;
    border: solid 5px;
}
