<link href="appgroupdialog.component.css" rel="stylesheet">
<link href="../form.component.css" rel="stylesheet">
<link rel="stylesheet" href="../../libs/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
<div style="margin: 0px 20px; width: 100%">
  <mat-dialog-content>
    <mat-card id="profile-card" style="text-align: left;">
      <mat-grid-list cols="6" rowHeight="35px">
        <mat-grid-tile [colspan]="6" [rowspan]="2" style="align-items: start;">
          <mat-card  class="mat-card-col1" style="text-align: left;">
            <mat-card-content>
              <ul>
                <li style="margin: 15px;">
                  <h2><b><span style="color: rgb(112, 2, 2);">{{ this.appGroupToDialog.appGroupName }}</span></b></h2>
                </li>
              </ul>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="11">
          <mat-card style="width: 95%; height: 95%;" id="menu-tile-announcement">
            <mat-card-content class="bg bg-green" style="align-items: start;">
              <h6><b><span style="color: rgb(112, 2, 2);">Członkowie grupy :</span></b></h6>
              <mat-list style="width: 100%; text-align: left; max-height: 385px; overflow-y: auto;" >
                <mat-list-item *ngFor="let appUser of appUsersInGroup" style="height: 65px;">
                  <mat-card style="height: 60px; box-shadow: none;" class="gamer-card">
                    <mat-grid-list cols="1" rowHeight="60px" >
                      <mat-grid-tile class="mouse-pointer" [colspan]="1" [rowspan]="1">
                        <mat-card style="width: 100%; height: 100%; box-shadow: none; background: none;">
                          <mat-card-content style="text-align: left; height: 100%; padding: 0px;">
                            <img *ngIf="appUser.appUserProfileImgUrl" src="{{ appUser.appUserProfileImgUrl }}" />
                            <img *ngIf="!appUser.appUserProfileImgUrl" src="/assets/images/annonymous.jpg" />
                            <b><span style="color: rgb(112, 2, 2); padding-left: 5px; padding-right: 5px">{{ appUser.appUserUsername }}</span></b> <span style="font-size: x-small"> <i>[[ Nickname: {{ appUser.appUserNickname }} ]] </i> </span>
                          </mat-card-content>
                        </mat-card>
                      </mat-grid-tile>
                    </mat-grid-list>
                  </mat-card>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="4" [rowspan]="3">
          <mat-card mat-card  class="mat-card-col2">
            <textarea matInput [(ngModel)]="appGroupToDialog.appGroupDescription"
                      [cdkTextareaAutosize]
                      cdkAutosizeMinRows="4"
                      cdkAutosizeMaxRows="4"
                      style="width: 93%; margin-left: 25px" disabled>
            </textarea>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="4" [rowspan]="8">
          <mat-card style="width: 95%; height: 100%;">
            <mat-card-content style="align-items: start; ">
              <h6><b><span style="color: rgb(112, 2, 2);">Czat grupowy :</span></b></h6>
              <mat-list style="max-height: 230px; overflow-y: auto; border: 1px solid #ccc;">
                <mat-list-item *ngFor="let chatMessage of appGroupChatMessagesInGroup" style="height: 70px;" datasrc="chatMessages">
                  <mat-card style="height: 60px;">
                    <mat-grid-list cols="1" rowHeight="60px" >
                      <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-card style="width: 100%; height: 100%; box-shadow: none; background: none;">
                          <mat-card-content style="text-align: left; height: 100%; padding: 0px;">
                              <span *ngIf="appUser.appUserId === chatMessage.appUserId" style="text-align: right; display: block; padding-right: 5px">
                                <span style="font-size: x-small;">
                                <img class="min-img" *ngIf="appUser.appUserProfileImgUrl" src="{{ appUser.appUserProfileImgUrl }}" />
                                <img class="min-img" *ngIf="!appUser.appUserProfileImgUrl" src="/assets/images/annonymous.jpg" />
                                <i><b>{{appUser.appUserUsername}} - {{getFormattedDate(chatMessage.appGroupChatMessageDate)}}</b></i></span>
                                <p>{{chatMessage.appGroupChatMessageMsg}}</p>
                              </span>
                            <span *ngIf="appUser.appUserId !== chatMessage.appUserId" style="padding-right: 5px">
                                <img class="min-img" *ngIf="getAppUserFromAppUsersInGroup(chatMessage.appUserId).appUserProfileImgUrl" src="{{ getAppUserFromAppUsersInGroup(chatMessage.appUserId).appUserProfileImgUrl }}" />
                                <img class="min-img" *ngIf="!getAppUserFromAppUsersInGroup(chatMessage.appUserId).appUserProfileImgUrl" src="/assets/images/annonymous.jpg" />
                                <i><b><span style="font-size: x-small;">{{getAppUserFromAppUsersInGroup(chatMessage.appUserId).appUserUsername}} - {{getFormattedDate(chatMessage.appGroupChatMessageDate)}}</span></b></i>
                                <p>{{chatMessage.appGroupChatMessageMsg}}</p>
                              </span>
                          </mat-card-content>
                        </mat-card>
                      </mat-grid-tile>
                    </mat-grid-list>
                  </mat-card>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="6" [rowspan]="4">
          <mat-card style="width: 95%; height: 100%; background: none; box-shadow: none;">
            <mat-card-content>
              <mat-grid-list cols="3" rowHeight="50px" style="margin-top: 10px;">
                <mat-grid-tile [colspan]="3" [rowspan]="1">
                  <mat-card style="width: 95%; height: 95%; background: none; box-shadow: none;">
                    <h6><b><span style="color: rgb(112, 2, 2);">Napisz wiadomość:</span></b></h6>
                  </mat-card>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                  <mat-card style="width: 95%; height: 95%; background: none; box-shadow: none;">
                    <textarea matInput [(ngModel)]="messageToBeSend"
                              [cdkTextareaAutosize]
                              cdkAutosizeMinRows="2"
                              cdkAutosizeMaxRows="2"
                              style="width: 95%; height: 50px">
                    </textarea>
                  </mat-card>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-card style="width: 95%; height: 95%; background: none; box-shadow: none;">
                    <button type="submit" class="btn btn-lg btn-primary btn-block btn-logout"
                            (click)="sendMessage()" [disabled]="messageToBeSend===''" style="width: 95%; align-self: flex-end">
                      <i class="fa fa-gamepad" aria-hidden="true"></i>
                      <b> Wyślij</b>
                    </button>
                  </mat-card>
                </mat-grid-tile>

              </mat-grid-list>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>
    </mat-card>
  </mat-dialog-content>
</div>

