    <title>Please sign in</title>
    <link href="home.component.css" rel="stylesheet">
    <link href="../form.component.css" rel="stylesheet">
    <link rel="stylesheet" href="../../libs/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
    <div class="container">
        <div class="container">

            <mat-card id="menu-card" style="margin-bottom: 10px;">
              <mat-grid-list cols="3" rowHeight="60px">

                <mat-grid-tile [colspan]="1" [rowspan]="1" >
                  <mat-card style="width: 100%; height: 95%;">
                    <mat-card-content style="text-align: left">
                      <p><b>Witaj
                        <span style="color: rgb(112, 2, 2);">{{ appUser.appUserNickname }}</span>
                        !
                      </b></p>
                    </mat-card-content>
                  </mat-card>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-card style="width: 100%; height: 95%;">
                    <mat-card-content/>
                    <mat-card-actions style="margin: auto;">
                      <p style="margin-top: -5px; font-size: small"><b>{{ actualGame }}</b></p>
                      <button type="submit" class="btn btn-lg btn-warning btn-block btn-logout" (click)="goToGames()">
                        <i class="fa fa-gamepad" aria-hidden="true"></i>
                        <b> Zmień grę!</b>
                      </button>
                    </mat-card-actions>
                  </mat-card>

                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-card style="width: 100%; height: 95%;">
                    <mat-card-content/>
                    <mat-card-actions align="end">
                      <button type="submit" class="btn btn-lg btn-secondary btn-block btn-logout btn-small-icon" (click)="goToChat()">
                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                      </button>
                      <button type="submit" class="btn btn-lg btn-secondary btn-block btn-logout btn-small-icon" (click)="goToProfile()">
                        <i class="fa fa-user" aria-hidden="true"></i>
                      </button>
                      <button type="submit" class="btn btn-lg btn-primary btn-block btn-logout " (click)="logOut()">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <b> Wyloguj się</b>
                      </button>
                    </mat-card-actions>
                  </mat-card>
                </mat-grid-tile>

              </mat-grid-list>
                <ul class="menu-list">
                    <li class="menu"></li>
                </ul>
            </mat-card>

            <mat-card id="home-card">
                <mat-card-title/>
                <mat-card-content>
                    <mat-grid-list cols="3" rowHeight="100px" style="margin-top: 10px;">
                        <mat-grid-tile [colspan]="1" [rowspan]="4">
                            <mat-card style="width: 95%; height: 95%;" id="menu-tile-announcement" class="menu-item" (click)="goToAnnouncement()">
                                <mat-card-content class="bg bg-green bg-game" style="margin: auto; text-align: center;">
                                    <ul style="list-style-type: none;">
                                        <li>
                                            <i class="fa fa-sitemap fa-4x" aria-hidden="true" style="width: 100%;"></i>
                                        </li>
                                        <li>
                                            <p style="width: 100%;"><b>OGŁOSZENIA</b></p>
                                        </li>
                                    </ul>
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="4">
                            <mat-card style="width: 95%; height: 95%;" id="menu-tile-group" class="menu-item" (click)="goToGroups()">
                                <mat-card-content class="bg bg-yellow bg-game" style="margin: auto; text-align: center">
                                    <ul style="list-style-type: none;">
                                        <li>
                                            <i class="fa fa-users fa-4x" aria-hidden="true" style="width: 100%;"></i>
                                        </li>
                                        <li>
                                            <p style="width: 100%;"><b>GRUPY</b></p>
                                        </li>
                                    </ul>
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="4">
                            <mat-card style="width: 95%; height: 95%;" id="menu-tile-player" class="menu-item" (click)="goToPlayers()">
                                <mat-card-content class="bg bg-white bg-game"style="margin: auto; text-align: center">
                                    <ul style="list-style-type: none;">
                                        <li>
                                            <i class="fa fa-street-view  fa-4x" aria-hidden="true" style="width: 100%;"></i>
                                        </li>
                                        <li>
                                            <p style="width: 100%;"><b>GRACZE</b></p>
                                        </li>
                                    </ul>
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-card-content>
            </mat-card>
        </div>
    </div>


