#register-button:link,:visited,:hover,:active {
    text-decoration: none;
}
.btn-logout{
    margin: 10px;
    width: 150px;
    height: 40px;
    font-size: small;
    text-align: center;
    align-self: flex-end;
}
.menu-card {
    display: flex;
}
ul.menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li.menu {
    float: right;
    height: inherit;
}
li.menu > p {
    transform: translateY(60%);
}
body {
    background-color: #eee;
}
:host {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.menu-item {
    transition: transform 1s,
                background-color 1s;
                color:1s;
    cursor: pointer;
}
.menu-item:hover {
    color: rgb(61, 61, 61);
    transform: scale(1.03);
}

.btn-small-icon {
  width: 50px;
}

#menu-tile-player {
  background-image: url("/assets/images/user.jpg");
}
#menu-tile-announcement {
  background-image: url("/assets/images/ads.jpg");
}
#menu-tile-group {
  background-image: url("/assets/images/group.jpg");
}

#menu-tile-player:hover {
    background-color: rgba(223, 252, 214, 0.5);
}
#menu-tile-announcement:hover {
    background-color: rgba(237, 214, 252, 0.5);
}
#menu-tile-group:hover {
    background-color: rgba(252, 251, 214, 0.5);
}

.bg-pink {
    background-image: linear-gradient(-45deg, rgb(255, 255, 255) 0%, rgba(220, 238, 196, 0.5) 25%, rgb(238, 194, 194, 0.5) 51%, #dbaaf281 100%);
}
.bg-blue {
    background-image: linear-gradient(-45deg, rgba(227, 237, 253, 0.5) 0%, rgba(220, 238, 196, 0.5) 25%, rgb(238, 194, 194, 0.5) 51%, #b7aaf281 100%);
}
.bg-green {
    background-image: linear-gradient(-45deg, rgba(234, 248, 234, 0.5) 0%, rgba(220, 238, 196, 0.5) 25%, rgb(238, 194, 194, 0.5) 51%, #aaf2bb81 100%);
}
.bg-yellow {
    background-image: linear-gradient(-45deg, rgba(235, 237, 221, 0.5) 0%, rgba(220, 238, 196, 0.5) 25%, rgb(238, 194, 194, 0.5) 51%, #f0f2aa81 100%);
}
.bg-white {
    background-image: linear-gradient(-45deg, rgba(191, 191, 191, 0.5) 0%, rgba(220, 238, 196, 0.5) 25%, rgb(238, 194, 194, 0.5) 51%, #ffffff81 100%);
}

.bg {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  -webkit-animation: AnimateBG 20s ease infinite;
  animation: AnimateBG 20s ease infinite;
}
.bg-game {
  background-size: auto;
  background-repeat: no-repeat;
}
@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
