    <link href="register.component.css" rel="stylesheet">
    <link href="../form.component.css" rel="stylesheet">
    <link rel="stylesheet" href="../../libs/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
    <div class="container">
        <mat-card id="register-card">
            <mat-card-title>
                <h3>Zarejestruj się</h3>             
            </mat-card-title>
            <mat-card-content>
                <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm.value)">
                
                    <p>
                        <mat-form-field>
                            <mat-label>Login</mat-label>
                            <input type="text" matInput name="appUserUsername" id="appUserUsername" 
                                ngModel 
                                #appUserUsernameInput="ngModel" required>
                            <mat-error class="form-error" *ngIf="appUserUsernameInput.invalid 
                                && appUserUsernameInput.touched">Wpisz login</mat-error>
                        </mat-form-field>    
                    </p>
    
                    <p>
                        <mat-form-field>
                            <mat-label>Hasło</mat-label>
                            <input type="password" matInput name="appUserPassword" id="appUserPassword"
                                ngModel 
                                #appUserPasswordInput="ngModel" required>
                                <mat-error class="form-error" *ngIf="appUserPasswordInput.invalid 
                                    && appUserPasswordInput.touched">Wpisz hasło</mat-error>
                        </mat-form-field>
                    </p>
                    
                    <p>
                        <mat-form-field>
                            <mat-label>E-mail</mat-label>
                            <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" required>
                            @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                                <mat-error>Wpisz poprawny adres e-mail</mat-error>
                              }
                            @if (emailFormControl.hasError('required')) {
                                <mat-error>Wpisz adres e-mail</mat-error>
                              }
                        </mat-form-field>    
                    </p>
                    
                    <p>
                        <mat-form-field>
                            <mat-label>Nick gracza</mat-label>
                            <input type="text" matInput name="appUserNickname" id="appUserNickname" 
                                ngModel 
                                #appUserNicknameInput="ngModel" required>
                            <mat-error class="form-error" *ngIf="appUserNicknameInput.invalid 
                                && appUserNicknameInput.touched">Wpisz swój nick gracza</mat-error>
                        </mat-form-field>    
                    </p>
                    
                    <p>
                        <mat-form-field>
                            <mat-label>Data urodzenia (opcjonalnie)</mat-label>
                            <input type="date" matInput name="appUserDateOfBirth" id="appUserDateOfBirth" 
                                ngModel 
                                #appUserDateOfBirthInput="ngModel">
                        </mat-form-field>    
                    </p>
    
                    <button type="submit" [disabled]="registerForm.invalid || showLoading" class="
                    btn btn-lg btn-primary btn-block">
                        <i *ngIf="showLoading" class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;
                        <span *ngIf="showLoading">Rejestrowanie konta...</span>
                        <i *ngIf="!showLoading" class="fa fa-user-plus" aria-hidden="true"></i> 
                        <span *ngIf="!showLoading"> Zarejestruj konto</span>
                    </button>
                    <mat-error class="form-error" *ngIf="registerForm.invalid 
                        || (emailFormControl.hasError('email') 
                            && !emailFormControl.hasError('required'))">Wypełnij poprawnie wszystkie pola obligatoryjne!
                    </mat-error>
                    <br>
                    <p>Posiadasz konto?</p>
                    <a id="login-button" href='/login'>
                        <button class="btn btn-lg btn-secondary btn-block" type="button" style="margin-bottom: 20px;">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Zaloguj się</button>
                    </a>
                </form>
            </mat-card-content>
        </mat-card>
    </div>